body {
  background-color: #002;
  background-image: url(../img/home.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #eee;
  margin: 20px auto;
  text-align: center;
}

.btn-danger {
  margin-top: 40px;
  border-radius: 15px;
}

.container {
   margin-top: 20%;
   text-align: center;
}
